@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models

@inject SignInManager<ApplicationUser> SignInManager

@{
  var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Name")?.Value;
}

@if (SignInManager.IsSignedIn(User))
{
  <!--<form asp-action="UserInfo" asp-controller="Account">
  <ul class="nav navbar-nav navbar-right">
  <li>
  <button class="btn btn-link navbar-btn navbar-link">@claim</button>
  </li>
  </ul>
  </form>

  <form asp-action="SignOut" asp-controller="Account" method="POST">
  <ul class="nav navbar-nav navbar-right">
  <li>
  <button type="submit" class="btn btn-link navbar-btn navbar-link">Log Out</button>
  </li>
  </ul>
  </form>
  -->
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@claim <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <form asp-action="MyProfile" asp-controller="Account">
          <li><button class="btn btn-link navbar-btn navbar-link">User Settings</button></li>
        </form>
        <form asp-action="" asp-controller="Account">
          <li><button class="btn btn-link navbar-btn navbar-link">Previous orders</button></li>
        </form>
          <li role="separator" class="divider"></li>
        <form asp-action="SignOut" asp-controller="Account" method="POST">
          <li><button type="submit" class="btn btn-link navbar-btn navbar-link">Log Out</button></li>
        </form>
      </ul>
    </li>
  </ul>

}

else
{
  <ul class="nav navbar-nav navbar-right">
  <li>
  <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
  </li>
  <li>
  <a asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
  </li>

  </ul>
}