@model List<BookCave.Models.ViewModels.BookListViewModel>

<h1>Search</h1>
<form class="detailed-search">
    <label for=""
    <label for="filter">Search by</label>
    <select name="filter" id="search-by">
        <option id="title" value="title" >Title</option>
        <option id="author" value="author" >Author</option>
        <option id="" value=""></option>
    </select>
</form>