<div class="container">
    <h1>Shopping Cart</h1>
    <table class="table table-striped table-hover table-bordered">
        <tbody>
            <tr>
                <th>Item</th>
                <th>QTY</th>
                <th>Unit Price</th>
                <th>Total Price</th>
            </tr>
            @foreach(var item in ViewBag.cart)
            {
                <tr>
                <td>@item.Book.Title</td>
                <td><input type="number" class="form-control" id="exampleInputQuantity" value="@item.Quantity"></td>
                <td>@item.Book.Price</td>
                <td></td>
                </tr>
            }
            <tr>
                <th colspan="3"><span class="pull-right">Sub Total</span></th>
                <th></th>
            </tr>
            <tr>
                <th colspan="3"><span class="pull-right">VAT 20%</span></th>
                <th></th>
            </tr>
            <tr>
                <th colspan="3"><span class="pull-right">Total</span></th>
                <th></th>
            </tr>
            <tr>
                <td><a href="#" class="btn btn-primary">Continue Shopping</a></td>
                <td colspan="3"><a href="#" class="pull-right btn btn-success">Checkout</a></td>
            </tr>
        </tbody>
    </table>
</div>